<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All TestCases Suite">
    <test name="SignIn TestCase">
        <classes>
            <class name="sign_in.SignInTest">
                <!--<methods><include name = "testSignInUseCase"/></methods>-->
            </class>
        </classes>
    </test>

    <test name="AgentlessServiceTest">
        <classes>
            <class name="agentless_service.AgentlessServiceTest"></class>
        </classes>
    </test>

    <test name="CreateProjectTest">
        <classes>
            <class name="create_project.CreateProjectTest"></class>
        </classes>
    </test>

    <test name="AddPolicyTest">
        <classes>
            <class name="add_policy.AddPolicyTest"></class>
        </classes>
    </test>

    <!--<test name="AddRuleTest">
        <classes>
            <class name="add_rule.AddRuleTest"></class>
        </classes>
    </test>-->

</suite>